    .maxDiv {
        text-align: center;
    }

    .btn-start {
        font-size: 200px;
        margin-top: 250px;
    }

    .analyzeDiv {
        margin-top: 100px;
        margin-bottom: 0px;
        text-align: center;
    }

    .vchart{
        width: 900px;
        text-align: center;
        margin-left: 50%;
        transform: translate(-50%,-0%);
    }

    .vchartC{
        width: 900px;
    }

    .chart{
        left: 50%;
        top: 50%;
        transform: translate(-50%,-0%);
    }

    .arrow{
        position: absolute; 
        top: 50%;
        transform: translate(0,-50%);

    }

    .arrow-left{
        border: 80px solid transparent;
        border-right: 100px solid #bb3d6f;
        left: 0px;
    }

    .arrow-right{
        right: 0px;
        border: 80px solid transparent;
        border-left: 100px solid #bb3d6f;
    }