    .toDown{
        width: 0;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -50px;
        color: red;
        border: 100px solid transparent;
        border-top: 100px solid green;
        box-shadow: 0 0px 0 -4px;
    }

    .mainDiv{
        height: 100%;
        background-color: #8850db;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%2383f0eb' fill-opacity='0.4'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
/*         background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2354b2b2' fill-opacity='0.52'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
     */    }

    .row{
        
    }

    .slide {
    color: #fff;
    height: 350px;
    position: relative;
}

    .slide--1 {
        background-image: url(http://ww1.sinaimg.cn/large/006azB5Sly1g0z6nc6nzxj31gr0a9q3b.jpg);  
    }

    .slide--2 {
        background-image: url(http://ww1.sinaimg.cn/large/006azB5Sly1g0z6wchoiaj31ha097dfq.jpg);  
    }

    .slide--3 {
        background-image: url(http://ww1.sinaimg.cn/large/006azB5Sly1g0z6xb2zo4j31h80c8gnh.jpg);
    }

    .slide--4 {
        background-image: url(http://ww1.sinaimg.cn/large/006azB5Sly1g0z6xzgpoij31gq0bzacw.jpg);   
    }

    .slide--5 {
        background-image: url(http://ww1.sinaimg.cn/large/006azB5Sly1g0z6yr26x9j31h80h50x9.jpg); 
    }

    .slide--6 {
        background-color: #44e865;    
    }

    h3 {
        color: #f28218;
        text-shadow: 8px 4px 5px #000;
        font-size: 32px;
        font-weight: 300;
        left: 50%;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .v-slide{
        margin:80px auto; 
    }

    .hcontainer {
        background-color:rgba(255,255,255,0);
    }

    .ccontainer {
        background-color:rgba(255,255,255,0);
    }

    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        text-shadow: 6px 3px 5px #e4abfb;
    }

    h2 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        text-shadow: 6px 3px 2px #e7d88a;
    }

    p {
        display: block;
        font-size: 1.05em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        text-shadow: 2px 1px 1px #b2a76b;
    }