<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.mapper.TableControllerMapper">

    <select id="existTable" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from information_schema.TABLES
        where LCASE(table_name) = #{tableName}
    </select>

    <update id="createNewTable">
        CREATE TABLE ${myMap.theTableName}(
          id int(10) PRIMARY KEY AUTO_INCREMENT NOT NULL
          <foreach collection="myMap" index="key" item="value">
              <if test="key.toString() != 'theTableName'.toString()">
                  ,${key} ${value}
              </if>
          </foreach>
        );
    </update>

    <update id="dropTable">
        DROP TABLE ${tablename}
    </update>

    <insert id="insertData">
        INSERT INTO ${tableName}(
          <foreach collection="dataMap" index="key" separator=",">
              ${key}
          </foreach>
        )  VALUES(
          <foreach collection="dataMap" item="value" separator=",">
              #{value}
          </foreach>
        )
    </insert>

    <select id="selectPage" resultType="java.util.HashMap">
        SELECT
        <foreach collection="myMap" index="key" separator=",">
            ${key}
        </foreach>
        FROM ${tableName} LIMIT #{start},#{finish}
    </select>

    <select id="selectTotal" resultType="java.lang.Integer">
        SELECT count(id) FROM ${tableName}
    </select>

    <select id="selectItemCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ${tableName} WHERE ${column} = #{item}
    </select>

    <select id="selectItemCountIsNull" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM ${tableName} WHERE ${column} IS NULL
    </select>

</mapper>